.button {
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.06em;
   color: var(--secondary-title-color);
   background-color: var(--accent-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   cursor: pointer;
   border: 0;
   border-radius: 4px;
}
.button--hero {
   padding: 10px 32px;
}
.button--modal {
   padding: 10px 55px 10px 56px;
}
.button--footer {
   position: relative;
   padding: 10px 62px 10px 29px;
}
.button__icon {
   position: absolute;
   top: 50%;
   right: 28px;
   transform: translateY(-50%);
   height: 24px;
   fill: var(--secondary-title-color);
}
.button--portfolio {
   padding: 6px 22px;
   font-weight: 500;
   line-height: 1.62;
   text-align: center;
   color: var(--main-title-color);
   background-color: var(--team-bgr-color);
   box-shadow: none;
   transition: color var(--transition-duration)
         var(--transition-timing-function),
      background-color var(--transition-duration)
         var(--transition-timing-function),
      box-shadow var(--transition-duration) var(--transition-timing-function);

   &:hover,
   &:focus {
      color: var(--secondary-title-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
         0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   }
}
.button--current {
   color: var(--secondary-title-color);
   background-color: var(--accent-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
}
