.logo {
   font-family: Raleway;
   font-weight: 700;
   font-size: 24px;
   line-height: 1.17;
   @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
   }
}
.logo--header {
   margin-right: auto;
   padding-top: 16px;
   padding-bottom: 16px;
   color: var(--main-logo-color);
   @media screen and (min-width: 768px) {
      margin-right: 88px;
      padding-top: 26px;
      padding-bottom: 26px;
   }
   @media screen and (min-width: 1200px) {
      margin-right: 93px;
      padding-top: 24px;
      padding-bottom: 25px;
   }
}
.logo--footer {
   display: block;
   margin-bottom: 20px;
   color: var(--secondary-title-color);
}
