.subscribe-form {
   @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}
.subscribe-form__input {
   width: 100%;
   padding: 15px 16px;
   margin-bottom: 20px;

   border: 1px solid rgba(255, 255, 255, 0.3);
   box-sizing: border-box;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
   color: var(--secondary-title-color);
   background-color: transparent;
   &::placeholder {
      color: var(--third-link-color);
   }
   @media screen and (min-width: 768px) {
      width: 450px;
   }
   @media screen and (min-width: 1200px) {
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0;
   }
}
